## Jupyter 基础

Jupyter Notebook 是**交互**使用 Python 的图形用户界面，支持python代码块、Markdown语法块。

* 用处：
    * 整理知识，学习笔记
    * 发布日记，杂文，所见所想
    * 撰写发布技术文稿（代码支持，文档中的代码可直接运行）
    * 撰写漂亮的数学公式（LaTeX 公式支持）

### 什么是 Markdown

Markdown 是一种方便记忆、书写的纯文本标记语言，用户可以使用这些标记符号以最小的输入代价生成极富表现力的文档：譬如您正在阅读的这份文档。它使用简单的符号标记不同的标题，分割不同的段落，**粗体** 或者 *斜体* 某些文字，更棒的是，它还可以

#### 1. 制作一份待办事宜 Todo 列表

- [ ] 支持以 PDF 格式导出文稿
- [ ] 改进 Cmd 渲染算法，使用局部渲染技术提高渲染效率

- [x] 新增 Todo 列表功能
- [x] 修复 LaTex 公式渲染问题
- [x] 新增 LaTex 公式编号功能

#### 2. [更多语法的跳转链接](https://www.zybuluo.com/mdeditor?url=https://www.zybuluo.com/static/editor/md-help.markdown)

1. 如果要输入数学表达式，只需在表达式两边分别添加符号 $,只分别添加一个表示**行内公式**，添加两个表示添加**行间（类似于块级元素）公式**
1. 两个行内元素间也可以添加空行来换行
1. 美元符号之间的公式需要遵循Latex语法命令
1. 在文本两端添加**（中间的文本）**表示其中间的文本会**加粗**显示 
1. Shift + Enter   ->  运行
1. Shift + Ctrl + -   ->  在下方添加Markdown语法块（需要在编辑状态）

行内公式 $f(x) = x^2 + x + 1$

行间公式：

$$E=mc^2$$

$$\sum_{i=1}^n a_i=0$$

$$f(x_1,x_x,\ldots,x_n) = x_1^2 + x_2^2 + \cdots + x_n^2 $$

$$\sum^{j-1}_{k=0}{\widehat{\gamma}_{kj} z_k}$$

## Jupyter的快捷键
**命令模式快捷键（按ESC或点击编辑框外的空白处，知道这个框图变为蓝色）**
* 转入编辑模式，<span style="color:blue">enter</span>
* 运行cell，并将光标移动到下一个cell，<span style="color:blue">shift+enter</span>
* 运行cell，<span style="color:blue">ctrl+enter</span>
* 向上增加空白cell，<span style="color:blue">A</span>
* 向下增加空白cell，<span style="color:blue">B</span>
* 删除本cell，<span style="color:blue">DD</span>
* 剪切本cell，<span style="color:blue">X</span>
* 粘贴本cell，<span style="color:blue">V</span>
* 将cell转为代码模式，<span style="color:blue">Y</span>
* 将cell转为Markdown模式，<span style="color:blue">M</span>
* 合并选中的cells，<span style="color:blue">shift+M</span>
* 打开/关闭行号，<span style="color:blue">L</span>
* 恢复删除的最后一个cell，<span style="color:blue">Z</span> （只有最后一个）
* 选中代码整体左移/右移，<span style="color:blue">ctrl+[]</span><br>

**编辑模式快捷键（按enter进入）**
* 快捷键注释 <span style="color:blue">ctrl+/</span>
* 代码补全或缩进 <span style="color:blue">Tab</span>
* 提示 <span style="color:blue">shift+Tab</span>
* 缩进/解除缩进 <span style="color:blue">ctrl+]/ctrl+[]</span>
* 全选 <span style="color:blue">ctrl+A</span>
* 还原 <span style="color:blue">ctrl+Z</span>
* 跳到单元开头/末尾/末尾 <span style="color:blue">ctrl+Up/End/Down</span>
* 跳到左/右边一个字首 <span style="color:blue">ctrl+Left/Right</span>

## Jupyter的部分使用技巧

[也是一部分的传送门](http://news.eeworld.com.cn/mp/QbitAI/a58625.jspx)

技巧列表：<br>
* jupyter 加载/创建本地文件
* jupyter 内嵌网页或PDF；渲染HTML代码
* jupyter 突出显示笔记
* jupyter 运行shell命令
* jupyter 代码块显示所有输出
* jupyter 使得DataFrame变量显示更多的行或列

### jupyter 加载/创建本地文件
> 加载：<br>
> 运行本地文件，在不加载代码的情况下显示运行结果<br>
    > %run file_path <br><br>
> 将本地文件加载到jupyter <br>
    > %load file_path <br><br>
    > (第二种方式由于是直接将代码加载到了jupyter中成为可执行状态，所以在运行完后会自动变为注释，而不影响后面代码的运行。且可以通过url来执行网络上的py文件) <br><br><br>
> 创建：<br>
> 在jupyter直接创建本地文件 <br>
    > %%writefile file_path <br>
    > (将文件内容写在这里)(执行后会返回文件名)

In [37]:
%%writefile test_py.py
hello = 232
world = '哈哈'
for i in range(10):
    print(i,hello,world)

Writing test_py.py

In [ ]:
'''
%load ./test_py.py                   
for i in range(10):
    print(hello,world)
'''

上面是未运行的状态，运行两次之后会变成下面这样： $\Downarrow$

In [7]:
# %load ./test_py.py                   
hello = 232
world = '哈哈'
for i in range(10):
    print(hello,world)

232 哈哈
232 哈哈
232 哈哈
232 哈哈
232 哈哈
232 哈哈
232 哈哈
232 哈哈
232 哈哈
232 哈哈

而选择第一种方式运行则会这样：$\Downarrow$

In [6]:
%run test_py.py

0 232 哈哈
1 232 哈哈
2 232 哈哈
3 232 哈哈
4 232 哈哈
5 232 哈哈
6 232 哈哈
7 232 哈哈
8 232 哈哈
9 232 哈哈

### jupyter 内嵌网页或PDF；渲染HTML代码 <br>
> 利用IPython库的display模块实现内嵌与渲染

内嵌网页或PDF： $\Downarrow$

In [14]:
from IPython.display import IFrame
IFrame(src='https://www.baidu.com/',width=800,height=500)

In [28]:
from IPython.display import IFrame
IFrame(src='symbols.pdf',width=800,height=600)

渲染HTML代码，这与内嵌整个网页是不同的，单独渲染HTML代码可以嵌入网页的某个特定功能，比如嵌入网易云音乐的外链播放器；<br>
    又比如自定义笔记格式： $\Downarrow$

In [44]:
from IPython.display import HTML
HTML('<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=1428681645&auto=1&height=66"></iframe>')

In [35]:
HTML("""<div>
    <h1>笔记标题</h1>
    <p>这是一段可自定义的笔记，它的格式可以根据HTML代码调用的css等做到完全自定义。
    你可以选择一张好看的图片来作为这段笔记的背景，也可以更醒目的插入链接，等等等等。</p>
    <p><a href="https://cn.bing.com/">这是一个通往必应主页的跳转链接...</a></p>
    </div>""")

### jupyter 突出显示笔记 <br>
> 可以通过上面渲染HTML的方式来突出显示笔记，不过这是显示在代码块中的；<br>
> 而另一种方式就是直接使用Markdown。

Markdown本身即支持HTML标签，可以方便的突出显示笔记，且又有很多内置的样式可以直接使用：$\Downarrow$

<div class="alert alert-block alert-info">
<b>提示:</b> 可以使用蓝色框(警报信息)作为提示和笔记。
如果它是一张便条，你不必在上面加上“便条”这个词。
</div>

<div class="alert alert-block alert-warning">
<b>例如:</b> 黄色方框通常用于包含额外的示例或数学公式。
</div>

<div class="alert alert-block alert-success">
只有在必要时才使用绿框，比如显示相关内容的链接。
</div>

<div class="alert alert-block alert-danger">
避免红框很好，但是可以用来提醒用户不要删除代码的一些重要部分等等。
</div>

### jupyter 运行shell命令 <br>
(其实这算是IPython的技巧，不过在jupyter中亦支持) <br>
> 在要运行的shell命令前加 <b>!</b> <br>
> (同时这样运行，可以将这句命令当作一个变量，其变量值就是命令的返回值，只不过会自动转化一些格式)

In [30]:
!dir

 驱动器 C 中的卷是 Windows-SSD
 卷的序列号是 5058-D3F5

 C:\Users\wxdespair\Documents\Document\books\book_test0\programming_language\Python\几个基本库的使用\jupyter 的目录

2020/07/05  16:01    <DIR>          .
2020/07/05  16:01    <DIR>          ..
2020/07/05  15:34    <DIR>          .ipynb_checkpoints
2019/11/01  07:11            16,423 0.3-Jupyter Notebook 基础.ipynb
2020/07/05  16:01            16,512 jupyter_using_about.ipynb
2020/07/05  15:22            30,103 jupyter使用技巧.ipynb
2020/07/05  12:35             5,345 Python文件笔记000.ipynb
2020/02/03  13:03           261,478 symbols.pdf
               5 个文件        329,861 字节
               3 个目录 47,168,827,392 可用字节

In [31]:
x = !dir
print(x)

[' 驱动器 C 中的卷是 Windows-SSD', ' 卷的序列号是 5058-D3F5', '', ' C:\\Users\\wxdespair\\Documents\\Document\\books\\book_test0\\programming_language\\Python\\几个基本库的使用\\jupyter 的目录', '', '2020/07/05  16:03    <DIR>          .', '2020/07/05  16:03    <DIR>          ..', '2020/07/05  15:34    <DIR>          .ipynb_checkpoints', '2019/11/01  07:11            16,423 0.3-Jupyter Notebook 基础.ipynb', '2020/07/05  16:03             9,629 jupyter_using_about.ipynb', '2020/07/05  15:22            30,103 jupyter使用技巧.ipynb', '2020/07/05  12:35             5,345 Python文件笔记000.ipynb', '2020/02/03  13:03           261,478 symbols.pdf', '               5 个文件        322,978 字节', '               3 个目录 47,169,323,008 可用字节']

### jupyter 代码块显示所有输出 <br>
> 同样利用IPython库来实现，不过使用的是另外一个模块，core。

In [40]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 

import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randn(3, 5))
df
df.info()

          0         1         2         3         4
0 -0.793499 -1.073017  1.477567 -0.080095 -1.346156
1 -0.331027  0.223282  0.617696 -1.113206 -0.921368
2 -1.138084  0.573051 -1.280358 -2.247937  0.034491

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      float64
 1   1       3 non-null      float64
 2   2       3 non-null      float64
 3   3       3 non-null      float64
 4   4       3 non-null      float64
dtypes: float64(5)
memory usage: 184.0 bytes

### jupyter 使得DataFrame变量显示更多的行或列 <br>
> 在jupyter中，DataFrame变量经常会因为行太多或列太多而被简略显示，这可以通过调整参数来调整。

正常情况下，过多的列会被省略号代替：$\Downarrow$

In [41]:
import pandas as pd
df = pd.DataFrame(np.random.randn(5, 30))
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,-0.375577,0.651210,-0.621757,1.337657,0.162416,0.897493,0.944560,-0.647979,-0.858355,-1.036094,...,-1.301651,-0.866277,0.397120,-0.425064,0.147203,0.998310,-0.628917,0.040149,2.357225,1.049551
1,-1.662175,1.738117,-0.040473,-0.889217,-1.205679,-0.753659,-0.636740,-2.120538,0.625649,-1.409021,...,-0.925172,0.519372,-0.602617,0.591354,-0.109452,-0.416030,-0.287723,-0.280754,-1.387362,-1.579878
2,-0.031900,-1.679538,-0.853097,0.657797,1.398348,0.839534,-0.081530,-0.653258,-1.244314,-0.823427,...,0.223810,-0.887946,-0.247741,0.498811,-0.349011,-0.658866,-0.002695,1.299068,0.501533,-2.156339
3,-0.869291,1.244342,-0.024435,0.466818,-0.604231,-0.870820,0.942135,-0.980134,-1.659157,-1.521310,...,-0.290566,1.052657,-0.430455,-1.499280,-0.109982,-1.581571,-0.237632,1.115808,-0.037131,-1.047979
4,0.156842,-0.178113,-1.139799,0.430333,-1.594801,-0.332412,-0.744046,-1.599022,0.915638,-1.982578,...,0.194314,0.270183,-0.164501,-0.873187,-0.052174,-1.005682,-0.250457,0.155144,0.657696,-1.871639

而调整过后即可显示所有列：$\Downarrow$

In [42]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
df = pd.DataFrame(np.random.randn(5, 30))
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,-0.245044,-0.073608,1.582559,1.425543,-0.064391,-1.250637,2.403622,-0.050266,0.489528,-0.937316,-0.809400,-0.054195,0.504836,0.725263,-0.448442,0.728042,-0.634113,1.194176,-0.106869,0.347348,-1.453909,-0.835804,1.603435,-1.269320,-0.597936,-0.153407,1.494229,-0.603819,-0.332717,0.561390
1,0.145073,-1.318661,0.551833,-0.240760,-0.671624,0.249391,-0.810407,0.028128,-0.644084,-0.598655,0.201452,1.134490,0.287750,0.097986,0.406183,-0.215242,-0.847254,-0.763447,1.125198,-0.100349,0.734281,0.264285,0.482128,-1.748325,-0.620475,1.056722,-0.324672,-0.187917,-0.146254,-0.737690
2,-0.374088,0.574561,-0.979007,-0.344660,-0.928099,-0.170464,1.379698,0.488231,-1.882866,-0.165003,-0.647157,0.361797,0.482553,-1.325115,-1.025375,1.316635,0.224900,0.347144,-1.579745,0.515054,0.803857,-0.227203,-1.208708,1.183263,0.410858,-1.032802,-2.470082,0.914561,-0.674387,-0.213935
3,0.695042,-0.800313,-0.557586,0.132356,-0.408898,0.959786,-0.820532,0.465908,-0.598216,-0.374561,-1.040102,-0.635907,-1.967997,1.759234,-0.901531,-0.726820,-1.728275,-0.453838,-2.104639,0.511716,0.463862,1.012519,-1.160189,0.786416,0.072066,0.117821,0.429369,1.249367,1.202832,-0.867948
4,0.195785,0.578704,-0.284116,0.632555,0.711348,-0.390305,0.856972,-1.415799,0.742301,0.601295,-0.077508,-1.443404,0.546177,-0.601492,-0.403271,-0.311106,-1.195382,-2.628436,0.204709,-1.408121,-0.069433,0.225371,0.183722,0.775617,-0.019194,-0.773788,-0.827957,0.437685,-0.128360,0.502350